<div class="container-fluid h-100 d-flex flex-column">
  @if(isModalOrcamento){
  <app-modal-orcamento
    (close)="showModalOrcamento()"
    (updateOrcamento)="getAllOrcamentos()"
    [orcamentoId]="orcamentoId"
  />
  }

  <div class="text-center">
    <h5>Listar Orçamentos</h5>
  </div>
  <div>
    <div>
      <label>Status</label>
      <select class="form-select" (change)="onStatusChange($event)">
        <option *ngFor="let status of statusList" [value]="status.status">
          {{ status.descricao }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-3 mb-3">
    <button class="btn btn-sm btn-secondary" (click)="showModalOrcamento()">
      Novo
    </button>
  </div>
  <section>
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th class="col-1">Status</th>
          <th class="col">Nome</th>
          <th class="col-1">Telefone</th>
          <th class="col-1">Modelo</th>
          <th class="col-1">Placa</th>
          <th class="col-1">Chassis</th>
          <th class="col-1">Vendedor</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="orcamentos$ | async as orcamentos">
        <tr *ngFor="let orcamento of orcamentos">
          <td>{{ statusOrcamento(orcamento.status) }}</td>
          <td>{{ orcamento.cliente.nomeRazaoSocial | titlecase }}</td>
          <td>{{ orcamento.cliente.telefone }}</td>
          <td>{{ orcamento.veiculo.modelo | titlecase }}</td>
          <td>{{ orcamento.veiculo.placa | uppercase }}</td>
          <td>{{ orcamento.veiculo.chassi | uppercase }}</td>
          <td>{{ orcamento.vendedor | titlecase }}</td>
          <td class="d-flex gap-2">
            <a
              class="btn btn-sm btn-secondary"
              routerLink="/orcamento/{{ orcamento.id }}"
              >Editar</a
            >
            <button>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
