<div class="container h-100 d-flex flex-column">
  @if(isModalVeiculo){
  <app-modal-veiculo
    (close)="showModalVeiculo()"
    (updateVeiculo)="getAllVeiculos()"
    [veiculoId]="veiculoId"
  />
  }

  <section class="d-flex h-100 flex-column gap-2">
    <div class="bg-secondary-subtle shadow rounded-2 p-2">
      <h6 class="text-center">Veículos</h6>
      <form [formGroup]="filtrosForm" (ngSubmit)="submit()">
        <div class="row d-flex">
          <div class="col-3">
            <label class="form-label col-form-label-sm" for="search"
              >Buscar</label
            >
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="search"
              placeholder="Buscar Modelo, Placa ou Chassi"
            />
          </div>
          <div class="col-3">
            <label class="form-label col-form-label-sm" for="startDate"
              >Data Inicial</label
            >
            <input
              type="date"
              class="form-control form-control-sm"
              formControlName="startDate"
            />
          </div>
          <div class="col-3">
            <label class="form-label col-form-label-sm" for="endDate"
              >Data Final</label
            >
            <input
              type="date"
              class="form-control form-control-sm"
              formControlName="endDate"
            />
          </div>
          <div class="col-3">
            <label class="form-label col-form-label-sm" for="status"
              >Status</label
            >
            <select class="form-select form-select-sm" formControlName="status">
              <option value="">Todos</option>
              <option *ngFor="let status of statusList" [value]="status.status">
                {{ status.descricao }}
              </option>
            </select>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-3 d-flex gap-2">
            <button
              (click)="limparFiltros()"
              type="button"
              class="btn btn-sm btn-danger"
            >
              Limpar
            </button>
            <button class="btn btn-sm btn-secondary" type="submit">
              Filtrar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="flex-grow-1 bg-secondary-subtle rounded-3 shadow p-2">
      <div class="mb-3">
        <button (click)="showModalVeiculo()" class="btn btn-sm btn-secondary">
          Novo
        </button>
      </div>
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="veiculos$ | async as veiculos">
          <tr
            *ngFor="
              let veiculo of veiculos
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: p,
                      totalItems: total
                    }
            "
          >
            <td>{{ veiculo.placa | uppercase }}</td>
            <td>{{ veiculo.marca | titlecase }}</td>
            <td>{{ veiculo.modelo | titlecase }}</td>
            <td>{{ veiculo.ano }}</td>
            <td>
              <button
                class="btn btn-sm btn-primary"
                (click)="editVeiculo(veiculo.id!)"
              >
                <i class="fa-solid fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        class="myPagination"
        previousLabel=""
        nextLabel=""
        (pageChange)="p = $event"
      >
      </pagination-controls>
    </div>
  </section>
</div>
