<div class="modal" style="display: block">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ veiculoId ? "Editar Veículo" : "Novo Veículo" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="veiculoForm"
          (ngSubmit)="submit()"
          (keydown.enter)="$event.preventDefault()"
        >
          <div>
            <div class="d-flex justify-content-between gap-2">
              <div class="col-2">
                <label for="placa" class="form-label">Placa</label>
                <input
                  type="text"
                  class="form-control"
                  id="placa"
                  formControlName="placa"
                />
              </div>

              <div class="col">
                <label for="chassi" class="form-label">Chassi</label>
                <input
                  type="text"
                  class="form-control"
                  id="chassi"
                  formControlName="chassi"
                />
              </div>

              <div class="col">
                <label for="marca" class="form-label">Marca</label>
                <select class="form-control" id="marca" formControlName="marca">
                  <option *ngFor="let marca of marcas" [value]="marca.nome">
                    {{ marca.nome }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="ano" class="form-label">Ano</label>
                <input
                  type="text"
                  class="form-control"
                  id="ano"
                  formControlName="ano"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="modelo" class="form-label">Modelo</label>
              <input
                type="text"
                class="form-control"
                id="modelo"
                formControlName="modelo"
              />
            </div>

            <div class="mb-3">
              <label for="cor" class="form-label">Cor</label>
              <input
                type="text"
                class="form-control"
                id="cor"
                formControlName="cor"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="closeModal()"
            >
              Fechar
            </button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
