/* You can add global styles to this file, and also import other style files */

.bg-blue-400 {
  background-color: #001c59;
}

.bg-blue-500 {
  background-color: #00143f;
}

.bg-green-300 {
  background-color: #dce123;
}
